:root {
  --azul: #5368df;
  --rojo: #fa5757;
  --oscuro: #252b46;
  --gris: #a2a4af;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: 'Rubik', sans-serif;
}

.max-600 { 
  max-width: 600px; 
}

<<<<<<< HEAD
.contenedor {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.texto-limitado {
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--gris);
}

/* HEADER */

.header {
  padding: 40px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav { 
  display: flex; 
  gap: 40px; 
  align-items: center; 
}

nav a {
  text-decoration: none;
  font-size: 13px;
  color: var(--oscuro);
  transition: color 0.3s;
}

nav a:hover {
  color: var(--rojo);
=======
.texto-limitado { 
  color: var(--gris); 
  margin-bottom: 25px; 
>>>>>>> b29ef5061557c4417f7108afcb6d980d94c4119f
}

/* BOTONES */
.btn-azul { 
  background: var(--azul); 
  color: white; 
  border: none; 
  letter-spacing: 1px;
  font-size: 13px;
  padding: 12px 25px; 
  transition: all 0.3s ease-in-out;
}

.btn-azul:hover { 
  background: #3f53d9; 
  color: white; 
  transform: translateY(-2px); 
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.btn-rojo { 
  background: var(--rojo);
  color: white; 
  border: none; 
  letter-spacing: 1px; 
  font-size: 13px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  transition: all 0.3s ease-in-out;
}

.btn-rojo:hover { 
  background: #e14b4b; 
  color: white; 
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.btn-gris {
  background: rgb(223, 223, 223);
  color: black;
  letter-spacing: 1px;
  font-size: 13px;
  border: none;
  padding: 12px 25px;
  transition: all 0.3s ease-in-out;
}

.btn-gris:hover {
  background: rgb(223, 223, 223);
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

<<<<<<< HEAD
/* MAIN */

/* HERO */

.hero {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
}

.hero h1 {
  font-size: 48px;
  color: var(--oscuro);
  margin-bottom: 20px;
}

.hero-img {
=======
/* FONDOS AZULES (Pseudo-elementos) */
.hero-img-container, .feature-img-container {
>>>>>>> b29ef5061557c4417f7108afcb6d980d94c4119f
  position: relative;
  z-index: 1;
}

/* Forma azul del Hero */
.hero-img-container::after {
  content: "";
  position: absolute;
  background: var(--azul);
  width: 100%;
  height: 80%;
  right: -20%;
  bottom: -10%;
  z-index: -1;
  border-radius: 250px 0 0 250px;
}

/* Forma azul de Features */
.feature-img-container::after {
  content: "";
  position: absolute;
  background: var(--azul);
  width: 100%;
  height: 80%;
  left: -20%;
  bottom: -10%;
  z-index: -1;
  border-radius: 0 250px 250px 0;
}

#feature-content {
  transition: opacity 0.3s ease-in-out;
}

/* TABS / APARTADOS */
.tab-item {
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: var(--gris);
  transition: 0.3s;
}

.tab-item:hover { 
  color: var(--rojo); 
}

.tab-item.activo {
  color: var(--oscuro);
  border-bottom: 4px solid var(--rojo);
}

<<<<<<< HEAD
/* DETALLE FEATURE */
.feature-detalles {
  display: flex;
  align-items: center;
  gap: 80px;
}

.feature-detalles .imagen {
  position: relative;
}

.feature-detalles .imagen::before {
  content: "";
  position: absolute;
  left: -100px;
  bottom: -60px;
  width: 500px;
  height: 350px;
  background: var(--azul);
  border-radius: 0 250px 250px 0;
  z-index: -1;
}

/* DOWNLOAD */
.download {
  margin-top: 150px;
}

.fila {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 60px;
}

/* TARJETAS */
=======
/* TARJETAS DOWNLOAD */
>>>>>>> b29ef5061557c4417f7108afcb6d980d94c4119f
.tarjeta {
  background: white;
  padding: 40px 25px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 10px 30px rgba(37, 43, 70, 0.08), 
              0 5px 15px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); /* Animación de suavizado profesional */
}

.tarjeta:hover {
  transform: translateY(-10px);

  box-shadow: 0 30px 60px rgba(37, 43, 70, 0.15), 
              0 15px 25px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .hero-img-container::after {
      right: -10%;
      width: 100%;
      height: 70%;
      border-radius: 150px 0 0 150px;
    }

    .feature-img-container::after {
      left: -10%;
      width: 100%;
      height: 70%;
      border-radius: 0 150px 150px 0;
    }
    
    /* Evita que las secciones tengan márgenes que empujen hacia afuera */
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  .t-2 { margin-top: 40px; }
  .t-3 { margin-top: 80px; }
}

.tarjeta p {
  border-bottom: 4px dotted #eee;
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.tarjeta .btn-azul {
  width: 100%;
  margin-top: auto;
  font-weight: 500;
}

.up-to-date {
  margin-top: 0;
  background: var(--azul);
}

/* Contenedor del input para manejar el error */
.input-group-container {
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

/* Estilo del mensaje de error (oculto por defecto) */
.error-text {
  display: none;
  background: var(--rojo);
  color: white;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  padding: 5px 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
}

/* Clase que aplicaremos con JavaScript cuando haya un error */
.input-error .form-control {
  border: 2px solid var(--rojo) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-error .error-text {
  display: block;
}

.letter-spacing-2 {
  letter-spacing: 4px;
  font-size: 13px;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: var(--rojo);
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.accordion-button::after {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%); /* Cambia el color de la flecha a azul */
}

/* Personalización del Modal */

/* Para que el modal se vea por encima de todo */
.modal {
    z-index: 1060;
}

.modal .btn-azul {
    padding: 10px;
    font-weight: 500;
}
.modal-content {
  border-radius: 20px;
  background-color: #fff;
}

.filter-blue {
  /* Esto cambia el logo a color azul si es un SVG */
  filter: invert(41%) sepia(82%) saturate(601%) hue-rotate(192deg) brightness(92%) contrast(92%);
}

.modal-body h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
}

/* Animación suave al aparecer */
.modal.fade .modal-dialog {
  transform: scale(0.8);
  transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog {
  transform: scale(1);
}

/* FOOTER */
<<<<<<< HEAD
.footer {;
  background: #1e2139;
  padding: 30px 0;
=======
.footer { 
  background: var(--oscuro); 
  padding: 40px 0; 
>>>>>>> b29ef5061557c4417f7108afcb6d980d94c4119f
}

.footer-links a { 
  color: white; 
  text-decoration: none; 
  font-size: 13px; 
  letter-spacing: 1px; 
}

.footer-links a:hover { 
  color: var(--rojo); 
}

<<<<<<< HEAD
.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.footer-redes {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  transition: 0.3s;
}

.footer-redes img:hover {
  transform: scale(1.2);
}

/* Tablet */

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .hero h1 {
    font-size: 40px;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }

  .feature-detalles {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .fila {
    flex-direction: column;
    align-items: center;
  }

  .tarjeta {
    width: 250px;
  }

  .t-1, .t-2, .t-3 {
    margin-top: 0;
  }
}



/* Celular */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }

  .feature-detalles {
    flex-direction: column;
    text-align: center;
  }

  .fila {
    flex-direction: column;
    align-items: center;
  }

  .tarjeta {
    width: 100%;
    max-width: 300px;
  }

  .t-1, .t-2, .t-3 {
    margin-top: 0;
  }

  .up-to-date form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .up-to-date input, .up-to-date button {
    width: 100%;
  }

  .footer-contenido {
    flex-direction: column;
    gap: 20px;
  }
}  

/* Celular chico */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  .features {
    margin: 80px 0;
  }

  .preguntas {
    margin: 80px auto;
  }

  .apartados {
    flex-direction: column;
    gap: 20px;
  }
=======
.filter-white { 
  filter: brightness(0) invert(1); 
>>>>>>> b29ef5061557c4417f7108afcb6d980d94c4119f
}