*{
    margin: 0px;
    padding: 0px;
}
body {
    background: #fdfdfd;
    font-family: Arial;
}
.botones {
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}
.boton {
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.boton:hover {
    transform: scale(1.1);
}

.aceptar { background: #2ecc71; }
.cancelar { background: #f5b041; color: black; }
.eliminar { background: #e74c3c; }